IMAP Extensions Wish List

Here’s a _Wish List_ for IMAP extensions, somewhat rank-ordered:

Key:
❌ = Not Implemented
✅ = Implemented
🟢 = Small
🟠 = Medium
🔴 = Large

Name               | RFC                                             | Notes | Implemented? | Size 
-------------------|-------------------------------------------------|-------|--------|----
UIDPLUS            | [RFC 4315](https://tools.ietf.org/html/rfc4315) | / | ✅ | 🟢
CONDSTORE, QRESYNC (#288) | [RFC 7162](https://tools.ietf.org/html/rfc7162) | / | ✅ | 🟠
SPECIAL-USE (#289)       | [RFC 6154](https://tools.ietf.org/html/rfc6154) | / | ✅ | 🟢
ENABLE             | [RFC 5161](https://tools.ietf.org/html/rfc5161) | / | ✅ | 🟢
METADATA (#290)          | [RFC 5464](https://tools.ietf.org/html/rfc5464) | / | ✅ | 🔴
X-GM-EXT-1 (#291)        | [Gmail](https://developers.google.com/gmail/imap/imap-extensions) | Just the `X-GM-MSGID`, `X-GM-LABELS` and `X-GM-THRID` fetch attributes. | ✅ | 🟢
LOGIN-REFERRALS (#292)   | [RFC 2221](https://tools.ietf.org/html/rfc2221) | / | ✅ | 🔴
URLAUTH (#293)           | [RFC 4467](https://tools.ietf.org/html/rfc4467) | / | ✅ | 🟠
CHILDREN (#294)          | [RFC 3348](https://tools.ietf.org/html/rfc3348) | / | ✅ | 🟢
QUOTA (#295)             | [RFC 2087](https://tools.ietf.org/html/rfc2087) | / | ✅ | 🟢
ESEARCH (#296)           | [RFC 4731](https://tools.ietf.org/html/rfc4731) | / | ✅ | 🟢
MULTISEARCH (#297)       | [RFC 6237](https://tools.ietf.org/html/rfc6237) | / | ✅ | 🟠
CATENATE (#298)           | [RFC 4469](https://tools.ietf.org/html/rfc4469) | / | ✅ | 🟢
SASL-IR (#299)            | [RFC 4959](https://tools.ietf.org/html/rfc4959) | / | ✅ | 🟢
LIST-STATUS (#300)       | [RFC 5819](https://tools.ietf.org/html/rfc5819) | / | ✅ | 🟢
SEARCHRES (#301)        | [RFC 5182](https://tools.ietf.org/html/rfc5182) | / | ✅ | 🟢

