FramingParser.defaultFrameSizeLimit should be 8192

According to RFC 7162 section 4.