Strings backing `MailboxInfo.Attribute` should use casing from RFC 3501

1st character is uppercase. See RFC 3501 section 7.2.2:
https://datatracker.ietf.org/doc/html/rfc3501#section-7.2.2

There’s a mix of all lowercase and not-all lowercase in the `public static var` list. But the code seems to rely on the `backing` being all lowercase?

When re-encoding, it’d be nice if these were cased as in the RFC (e.g. `\Noselect` / `/HasChildren`) instead of all lowercase.