`LITERAL-` is broken. Needs to encode as `{50}+`, not `{50}-`

[RFC 7888, section 5](https://datatracker.ietf.org/doc/html/rfc7888#section-5) says:
> Note that the form of the non-synchronizing literal does not change: it still uses the "+" in the literal itself, even if the applicable extension is LITERAL-.
