Enforce mailbox attribute requirements from RFC 9051

### Expected behavior

(RFC 9051 section 6.3.9.4)[https://www.rfc-editor.org/rfc/rfc9051#section-6.3.9.4] says
> All clients MUST treat a LIST attribute with a stronger meaning as implying any attribute that can be inferred from it. (See [Section 7.3.1](https://www.rfc-editor.org/rfc/rfc9051#list-resp) for the list of currently defined attributes.) For example, the client must treat the presence of the \NoInferiors attribute as if the \HasNoChildren attribute was also sent by the server.

It would thus be good to enforce (either when parsing or when encoding or both) that `\NonExistent ` implies `\NoSelect` etc.
