Restructure / rename `SectionSpec` and nested/related types

What we’ve used so far, looks (something) like this:

```swift
public struct SectionSpecifier: Hashable {
    /// Specifies a particular body section.
    ///
    /// This corresponds to the part number mentioned in RFC 3501 section 6.4.5.
    ///
    /// Examples are `1`, `4.1`, and `4.2.2.1`.
    public struct Numbers: RawRepresentable, Hashable {
        public var rawValue: [Int]
        public init(rawValue: [Int]) {
            self.rawValue = rawValue
        }
    }

    /// The last part of a body section sepcifier if it’s not a part number.
    public enum Kind: Hashable {
        /// The entire section, corresponding to a section specifier that ends in a part number, e.g. `4.2.2.1`
        case complete
        /// All header fields, corresponding to e.g. `4.2.HEADER`.
        case header
        /// The specified fields, corresponding to e.g. `4.2.HEADER.FIELDS (SUBJECT)`.
        case headerFields([HeaderFieldName])
        /// All except the specified fields, corresponding to e.g. `4.2.HEADER.FIELDS.NOT (SUBJECT)`.
        case headerFieldsNot([HeaderFieldName])
        /// MIME IMB header, corresponding to e.g. `4.2.MIME`.
        case MIMEHeader
        /// Text body without header, corresponding to e.g. `4.2.TEXT`.
        case text
    }

    public var numbers: Numbers
    public var kind: Kind
}
```

the main difference to the existing `NIOIMAP.SectionSpec` is that we have a proper type for the `Numbers` -- which turns out to be useful for certain parts of the API that expect such a value, e.g. `4.2.2.1`.


### Convenience

We also have

```swift
extension SectionSpecifier {
    public init(_ numbers: SectionSpecifier.Numbers) {
        self.numbers = numbers
        self.kind = .complete
    }

    public static let header = SectionSpecifier(numbers: SectionSpecifier.Numbers(rawValue: []), kind: .header)
    public static let text = SectionSpecifier(numbers: SectionSpecifier.Numbers(rawValue: []), kind: .text)
    public static let complete = SectionSpecifier(numbers: SectionSpecifier.Numbers(rawValue: []), kind: .complete)
}

extension BodySectionSpecifier.Numbers: ExpressibleByArrayLiteral {
    public init(arrayLiteral numbers: Int...) {
        self.init(rawValue: numbers)
    }
}
```

which makes using this more convenient.

See also: #77