Replace `FetchType` with `[FetchAttribute]`

`ALL`, `FULL`, and `FAST` are just macros:

From RFC 3501 section 6.4.5:
>      ALL
>         Macro equivalent to: (FLAGS INTERNALDATE RFC822.SIZE ENVELOPE)
>
>      FAST
>         Macro equivalent to: (FLAGS INTERNALDATE RFC822.SIZE)
>
>      FULL
>         Macro equivalent to: (FLAGS INTERNALDATE RFC822.SIZE ENVELOPE BODY)

Thus, when encoding `[FetchAttribute]` is should just check if the corresponding items are in the array and use a macro if so, and when receiving a macro, expand it to its components.
