Pipelining dependency support for Subscription, Metadata, and Quota commands

As part of the code to support dependencies between commands, we should (later) properly express dependencies between commands related to Subscription, Metadata, and Quota. But not doing that in the initial version.

See also: RFC 3501 section 5.5. “Multiple Commands in Progress”