Create wrapper type for RFC-2822 date

Replace
```swift
public struct Envelope: Equatable {
    /// The local time and date that the message was written.
    public var date: String?
```
with
```swift
public struct Envelope: Equatable {
    /// The local time and date that the message was written.
    public var date: InternetMessageDate?
    …
}

/// A textual RFC-2822 date.
///
/// See RFC-2822 section 3.3. “Date and Time Specification”.
///
/// Use `String(init(_: InternetMessageDate)` to get the underlying string representation.
public struct InternetMessageDate: Equatable {
    var value: String
    public init(_ text: String) {
        self.value = text
    }
}

extension String {
    public init(_ other: InternetMessageDate) {
        self = other.value
    }
}
```

