Incorrect UID EXPUNGE command encoding

According to [RFC 4315 section 2.1](https://datatracker.ietf.org/doc/html/rfc4315#section-2.1) the UID EXPUNGE command should be sent as: "UID EXPUNGE" sequenceset

However, the code appears to instead be sending "EXPUNGE" sequenceset:

```swift
private mutating func writeCommandKind_uidExpunge(_ set: LastCommandSet<UID>) -> Int {
    self.buffer.writeString("EXPUNGE ") + self.buffer.writeLastCommandSet(set)
}
```

This can be fixed easily by changing EXPUNGE to UID EXPUNGE it to:

```swift
self.buffer.writeString("UID EXPUNGE ") + self.buffer.writeLastCommandSet(set)
```

