Pass along `IMAP4rev1` capability

When parsing
```text
S: * CAPABILITY IMAP4rev1 STARTTLS AUTH=GSSAPI
```
the parser should pass along a `NIOIMAP.Capability.IMAP4rev1`.

Alternatively, the parser should throw an error such as “invalid IMAP version”.

See RFC 3501 section 6.1.1 “CAPABILITY Command” for details:

> The server MUST send a single untagged `CAPABILITY` response with `IMAP4rev1` as one of the listed capabilities […]