`mbx-list-oflag` / `mbx-list-sflag`

There’s really no distinction between these types. It’s just a very round-about way of the formal syntax to say that you need 1 of
 * `\Noselect`
 * `\Marked`
 * `\Unmarked`
and any number of `\Noinferiors` + extensions. But note that RFC 3501 section 7.2.2 says that it’s ok to send neither `\Marked` not `\Unmarked` — “if it is not feasible for the server”. So, I’d argue we should just treat is as a list / set of things you can send.

I think it may also be good to rename these to something other than `Flag` since flags are something you set on messages. Maybe `MailboxAttribute` — or since it’s nested inside `MailboxInfo` already, just `MailboxInfo.Attribute`?

```swift
extension MailboxInfo {
    /// IMAPv4 `mbx-list-sflag` / `mbx-list-oflag`
    public enum Attribute: String, Equatable {
        case noSelect = #"\Noselect"#
        case marked = #"\Marked"#
        case unmarked = #"\Unmarked"#
        case nonExistent = #"\Nonexistent"#
        case noInferiors = #"\Noinferiors"#
        case subscribed
        case remote
        case child(ChildMailboxFlag)
        case other(String)

        public init?(rawValue: String) {
           …
        }
    }
```
