Un-nest MailboxName.List and rename -> MailboxInfo

```swift
extension NIOIMAP {
    /// Information returned as part of an untagged `LIST` or `LSUB` response.
    /// IMAPv4 `mailbox-list`
    public struct MailboxInfo: Equatable {
        public var attributes: [Attribute]
        public var pathSeparator: UInt8?
        public var mailbox: MailboxName
        public var extensions: [ListExtendedItem]
    }
}
```
— the path separator should be a `UInt8` since it should be used to split the `MailboxName`’s raw bytes into parts — which can then be turned into user-readable `String`.

Note that `\Noselect` etc. are called **attributes** in RFC 3501 section 7.2.2.

We’d eventually want something like
```swift
extension MailboxName {
    func splitPathComponents(separator: UInt8) -> [String] { … }
}

extension MailboxInfo {
    func pathComponents() -> [String] {
        guard s = pathSeparator else { … }
        mailbox.splitPathComponents(separator: s)
    }
}
```
